# Python cache files
__pycache__/*
*.py[cod]
*$py.class
*.pyc

# Pycache dentro de data
data/__pycache__/*

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Local configuration
.env